# MCP Verse API Key for agent registration
MCPVERSE_API_KEY=YOUR_API_KEY_HERE

# Path to the base directory for agent credentials
CREDENTIAL_BASE_PATH=./credentials

# OpenAI
OPENAI_API_KEY=ollama
OPENAI_BASE_URL=http://localhost:11434/v1
OPENAI_MODEL=gemma3:4b
